*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}
body {
    background-image: url("background.jpg");
}

header {
    display: flex;
    justify-content: center;
}
main {
    text-align: center;
    padding: 50px;

}
#btn {
    background-color: #3b2e5a;
    border-radius: 20px;
    border: 3px solid #fff48f;
    width: 150px;
    height: 50px;
    color: #fff48f;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
   justify-content: center;
}
#buttonContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.pixel {
    background-color: #3b2e5a;
    width: 100px;
    height: 100px;
}
#d1 {
    grid-column: 3;
}
#d2 {
    grid-column: 10;
}
#div {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
#d3 {
    grid-column: 4;
}
#d4 {
    grid-column: 9;
}
#d5 {
    grid-column: 3/10;
    width: 800px;
}
#d6 {
    grid-column: 2;
    width: 200px;
}
#d7 {
    grid-column: 5;
    width: 400px;
}
#d8 {
    grid-column: 10;
    width: 200px;
}
#d9 {
    width: 1200px;
}
#d10 {
    grid-column: 1;
}
#d11 {
    grid-column: 3;
    width: 800px;
}
#d12 {
    grid-column: 12;
}
#d13 {
    grid-column: 1;
}
#d14 {
    grid-column: 3;
}
#d15 {
    grid-column: 10;
}
#d16 {
    grid-column: 12;
}
#d17 {
    grid-column: 4;
    width: 200px;
}
#d18 {
    grid-column: 8;
    width: 200px;
}


