*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}
header {
    display: flex;
    justify-content: center;
}
main {
    text-align: center;
    padding: 50px;

}
#btn {
    background-color: #3b2e5a;
    border-radius: 20px;
    border: 3px solid #fff48f;
    width: 150px;
    height: 50px;
    color: #fff48f;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pixel {
    background-color: #3b2e5a;
    width: 50px;
    height: 50px;
}